<h1>New task</h1>
<form action="/tasks" method="get">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" aria-describedby="title" placeholder="Input task.">
  </div>
  <div class="form-group">
    <label for="details">Details</label>
    <input type="text" class="form-control" aria-describedby="title" placeholder="Input task details.">
  </div>
</form>

<button type="button" class="btn btn-primary">Create Task</button>

<div><%= link_to "Back to list", tasks_path %></div>
